body{
  background-image: url('https://i.pinimg.com/originals/b9/e2/67/b9e26710f6423b8ac3c8116fc4b44d69.jpg');
  background-position: center;
  background-size: 100%;
  padding: 0 25%;
}

#game {
    background: rgba(255, 255, 255, 0.65);
}

.trumpty-animation {
  animation-delay: 0.5s;
  animation-duration: 10s;
  animation-name: transform;
}

#trumpty {
  height: 100px;
  left: 20em;
  top: 25px;
  position: relative;
  z-index: 1;
}

@keyframes transform {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 4500px, 0);
  }
}

#start-screen {
  background-image: url('./img/game-screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 600px;
  position: absolute;
  width: 750px;
}

#level2-screen {
  background-image: url('./img/level-2-screen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101%;
  display: none;
  height: 600px;
  position: absolute;
  width: 750px;
}

#level3-screen {
  background-image: url('./img/level-3-screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
  display: none;
  height: 600px;
  position: absolute;
  width: 750px;
}

#win-screen {
  background-image: url('./img/win-screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
  display: none;
  height: 600px;
  position: absolute;
  width: 750px;
}

#gameover-screen {
  background-image: url('./img/game-over-screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
  display: none;
  height: 600px;
  position: absolute;
  width: 750px;
}

#pause-screen {
  background-image: url('./img/pause-screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
  display: none;
  height: 600px;
  position: absolute;
  width: 750px;
}

@media screen and (min-width: 1500px) {
  
  body {
      padding: 0 30%;
  }
}